<div class="wrapper">
  <div class="container">

    <div class="col-right">
      <div class="login-form">
        <h2>Sign Up</h2>
        <form>
          <p>
          <input type="text" placeholder="First Name" required>
          </p>
  <p>
          <input type="text" placeholder="Last Name" required>
          </p>
  <p>
          <input type="text" placeholder="Phone" required>
          </p>

          <p>
            <input type="password" placeholder="Password" required>
          </p>
          <p>
            <input class="btn" type="submit" value="Sign Up" />
          </p>
          <p>
            <a href="">Allready have an account?</a>
            <a routerLink="/login">Log in</a>
          </p>
        </form>
      </div>
    </div>
    <div class="col-left">
      <div class="login-text">
        <h2>Logo</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget eros dapibus, ultricies tellus vitae, consectetur tortor. Etiam rutrum placerat
        </p>
        <a class="btn" href="">Read More</a>
      </div>
    </div>
  </div>
  <div class="credit">
    Olividz 👗 Initiate Fashion Voyage
  </div>
</div>
