<app-main-slider></app-main-slider>

<div class="container mt-4" >
  <div class="row">

      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>
      <app-product-view-card class="col-12 col-sm-6 clo-lg-4 col-xl-2 inner"></app-product-view-card>




  </div>
  </div>
